<div th:fragment="header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-15 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/tasks}" class="nav-link px-5 link-secondary">All tasks</a></li>
            <li><a th:href="@{/tasks/done}" class="nav-link px-5 link-secondary">Done tasks</a></li>
            <li><a th:href="@{/tasks/active}" class="nav-link px-5 link-secondary">Active tasks</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <form>
                <button type="submit" class="btn btn-outline-primary me-2" th:if="${user.name == 'Guest'}" th:formaction="@{|/user/loginPage|}">Log in
                </button>
                <button type="submit" class="btn btn-outline-primary me-2" th:if="${user.name != 'Guest'}" th:formaction="@{|/user/logout|}">Log out
                </button>
                <button type="submit" class="btn btn-primary" th:formaction="@{|/user/formAdd|}">Sign-up</button>
            </form>
        </div>
    </header>
</div>